<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    
<div class="i_container">
  <div class="i_fcol">
    <div class="col">
      <h1 class="i_h">yo are awesome</h1>
      <p class="i_h">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ex maxime ducimus repudiandae blanditiis quo, placeat recusandae ipsum reprehenderit repellat ipsa quae tenetur.</p>
    </div>
    <div class="col">
      <h1 class="i_h">yo are awesome</h1>
      <p class="i_h">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ex maxime ducimus repudiandae blanditiis quo, placeat recusandae ipsum reprehenderit repellat ipsa quae tenetur.</p>
    </div>
    <div class="col">
      <h1 class="i_h">yo are awesome</h1>
      <p class="i_h">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ex maxime ducimus repudiandae blanditiis quo, placeat recusandae ipsum reprehenderit repellat ipsa quae tenetur.</p>
    </div>
    <div class="col">
      <h1 class="i_h">yo are awesome</h1>
      <p class="i_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ex maxime ducimus repudiandae blanditiis quo, placeat recusandae ipsum reprehenderit repellat ipsa quae tenetur.</p>
    </div>
  </div>
</div>
</body>
</html>