<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    
    <div class="a_container">
        <div class="a_heading">
            <h1>about us</h1>
        </div>
            <div class="a_row">
              <h2>you are awesome</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quidem minima, 
                similique dolores magnam dolore consequuntur. Nobis repudiandae, odit eaque voluptatum 
                incidunt consectetur architecto doloribus quos, suscipit ratione voluptate quas?</p>
            </div>
            <div class="a_row">
              <h2>you are awesome</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quidem minima, 
                similique dolores magnam dolore consequuntur. Nobis repudiandae, odit eaque voluptatum 
                incidunt consectetur architecto doloribus quos, suscipit ratione voluptate quas?</p>
            </div>
            <div class="a_row">
              <h2>you are awesome</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quidem minima, 
                similique dolores magnam dolore consequuntur. Nobis repudiandae, odit eaque voluptatum 
                incidunt consectetur architecto doloribus quos, suscipit ratione voluptate quas?</p>
            </div>
        </div>
    </div>
</body>
</html>