<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    <nav class="navbar">
        <div class="nav_section">
            <div class="nav_top">
                <div class="nav_title">
                    <span class="nav_ng">nishant gangwar</span>
                </div>
                <div class="nav_compnents">
                    <ul class="navbar-list">
                        <li><a href="/" class="navbar-link">Home</a></li>
                        <li><a href="/about" class="navbar-link">About</a></li>
                        <li><a href="/register" class="navbar-link">resgister</a></li>
                    </ul>
                </div>
            </div>
            <div class="nav_wel">
                welecome to home page
            </div>
        </div>
    </nav>

</body>
</html>